// Grids and layouts.

//================================================================
// General
//================================================================

header,
footer,
.main {
  position: relative;

  z-index: index($z-elements, body);
  
  width: 100%;
}

%centered-content {
  max-width: rem($content-max-width);

  margin: 0 auto;
  
  @media #{$mq-tablet-small-up} {
    max-width: rem($content-max-width-tablet);
  }

  @media #{$mq-desktop-small-up} {
    max-width: rem($content-max-width-desktop);
  }

  @media #{$mq-desktop-large-up} {
    max-width: rem($content-max-width-desktop-big);
  }
}

// Container for body elements for uniform padding.
.container {
  width: 100%;
}


//================================================================
// Header
//================================================================

header {
  width: 100%;
}


//================================================================
// Navbar
//================================================================

.nav {
  width: 100%;
}


//================================================================
// Main content
//================================================================

.main {
  @extend %centered-content;
  
  max-width: rem($content-max-width);
}

//================================================================
// Footer
//================================================================
.footer__wrapper {
  @extend %centered-content;
  
  max-width: rem($content-max-width);
}
