%btn {
  display: inline-block;

  font-weight: 700;

  text-decoration: none;
  text-transform: uppercase;
}

@include jacket(critical) {
  .btn--primary {
    background: #ff0;
  }
}

@include jacket(non-critical) {
  .btn--footer {
    background: #00f;
  }
}

