// Colours
$palettes: (
  gray: (
    base:       #7f7f7f,
    white:      #fff,
    black:      #000
  ),
  blue: (
    fb:         #3b5999,
    tw:         #55acee
  )
);

// General
$c-bg-main: palette(gray, white);
$c-text-main: palette(gray, black);
