* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, 
body {
  font-size: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: always;
}

html {
  font-size: $base-size;

  // Remove 300ms delay on Windows Mobile.
  // Ref: http://updates.html5rocks.com/2013/12/300ms-tap-delay-gone-away
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  &.no-scroll {
    overflow: hidden;
  }
}

body {
  position: relative;

  font-family: $primary-font-family;
  font-weight: 400;

  color: $c-text-main;

  background-color: $c-bg-main;
}


[type=search] {
  // resets webkit styling on search inputs
  -webkit-appearance: none;
}

// Style the webkit validation message for forms
::-webkit-validation-bubble-message {
  padding: 40px;
}

h1,
h2,
h3,
h4 {
  font-family: $primary-font-family;
}

a {
  color: palette(gray, white);

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
