/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-1x-test1-2-name: 'sprite-1x-test1 2';
$sprite-1x-test1-2-x: 0px;
$sprite-1x-test1-2-y: 0px;
$sprite-1x-test1-2-offset-x: 0px;
$sprite-1x-test1-2-offset-y: 0px;
$sprite-1x-test1-2-width: 682px;
$sprite-1x-test1-2-height: 406px;
$sprite-1x-test1-2-total-width: 682px;
$sprite-1x-test1-2-total-height: 898px;
$sprite-1x-test1-2-image: '../img/spritesheets/1x.png';
$sprite-1x-test1-2: (0px, 0px, 0px, 0px, 682px, 406px, 682px, 898px, '../img/spritesheets/1x.png', 'sprite-1x-test1 2', );
$sprite-1x-test1-name: 'sprite-1x-test1';
$sprite-1x-test1-x: 0px;
$sprite-1x-test1-y: 408px;
$sprite-1x-test1-offset-x: 0px;
$sprite-1x-test1-offset-y: -408px;
$sprite-1x-test1-width: 682px;
$sprite-1x-test1-height: 406px;
$sprite-1x-test1-total-width: 682px;
$sprite-1x-test1-total-height: 898px;
$sprite-1x-test1-image: '../img/spritesheets/1x.png';
$sprite-1x-test1: (0px, 408px, 0px, -408px, 682px, 406px, 682px, 898px, '../img/spritesheets/1x.png', 'sprite-1x-test1', );
$sprite-1x-testing2334-name: 'sprite-1x-testing2334';
$sprite-1x-testing2334-x: 0px;
$sprite-1x-testing2334-y: 816px;
$sprite-1x-testing2334-offset-x: 0px;
$sprite-1x-testing2334-offset-y: -816px;
$sprite-1x-testing2334-width: 186px;
$sprite-1x-testing2334-height: 82px;
$sprite-1x-testing2334-total-width: 682px;
$sprite-1x-testing2334-total-height: 898px;
$sprite-1x-testing2334-image: '../img/spritesheets/1x.png';
$sprite-1x-testing2334: (0px, 816px, 0px, -816px, 186px, 82px, 682px, 898px, '../img/spritesheets/1x.png', 'sprite-1x-testing2334', );
$sprite-1x-width: 682px;
$sprite-1x-height: 898px;
$sprite-1x-image: '../img/spritesheets/1x.png';
$sprite-1x-sprites: ($sprite-1x-test1-2, $sprite-1x-test1, $sprite-1x-testing2334, );
$sprite-1x: (682px, 898px, '../img/spritesheets/1x.png', $sprite-1x-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
