/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-2x-test1-name: 'sprite-2x-test1';
$sprite-2x-test1-x: 0px;
$sprite-2x-test1-y: 0px;
$sprite-2x-test1-offset-x: 0px;
$sprite-2x-test1-offset-y: 0px;
$sprite-2x-test1-width: 682px;
$sprite-2x-test1-height: 406px;
$sprite-2x-test1-total-width: 682px;
$sprite-2x-test1-total-height: 406px;
$sprite-2x-test1-image: '../img/spritesheets/2x.png';
$sprite-2x-test1: (0px, 0px, 0px, 0px, 682px, 406px, 682px, 406px, '../img/spritesheets/2x.png', 'sprite-2x-test1', );
$sprite-2x-width: 682px;
$sprite-2x-height: 406px;
$sprite-2x-image: '../img/spritesheets/2x.png';
$sprite-2x-sprites: ($sprite-2x-test1, );
$sprite-2x: (682px, 406px, '../img/spritesheets/2x.png', $sprite-2x-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
