/**
 * SVG sprite template file. Taken and adapted from this article:
 * https://www.liquidlight.co.uk/blog/article/creating-svg-sprites-using-gulp-and-sass/
 */

$icons: (
    sprite: (width: 17px, height: 18px, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),
    icon-sample: (width: 16.966px, height: 17.807px, backgroundX: 0px, backgroundY: 0px),
);

$ieSprite: '.is-ie' !default;
$sprite: map-get($icons, sprite) !default;


/**
 * Get an icon's property.
 * @param $icon The icon name.
 * @param $attr The attribute to get.
 * @return the icon's property.
 */
@function svg-sprite-attr($icon, $attr) {
  $newIcon: map-get($icons, $icon);

  @if $newIcon == null {
    @warn "Can't find an icon with the name #{$icon}";
  }
  @return map-get($newIcon, $attr);
}

/**
 * Get all attributes for one icon.
 * @param $icon the icon name.
 * @return the icon attributes.
 */
@function svg-icon-attr($icon) {
  $attr: (
      width: svg-sprite-attr($icon, width),
      height: svg-sprite-attr($icon, height),
      x: svg-sprite-attr($icon, backgroundX),
      y: svg-sprite-attr($icon, backgroundY)
  );

  @return $attr;
}


/**
 * Mixin to include a sprite into your element.
 * @param $icon the icon id / name.
 * @param $type {optional} The type of attributes you'd like to get. Default is
 *                         all.
 * Usage:
 *  .class {
 *     &:before {
 *       @include sprite(twitter);
 *       content: '';
 *     }
 *
 *     &:hover {
 *       &:before {
 *         @include sprite(twitterHover, bg);
 *       }
 *     }
 *   }
 */
@mixin svg-sprite($icon, $type: all) {

  @if $type == all {
    display: inline-block;
    background-image: url(map-get($sprite, svgPath));
    background-size: rem(map-get($sprite, width)) rem(map-get($sprite, height));
  }

  $iconMap: svg-icon-attr($icon);

  // Outputs the dimensions in rem.
  @if $type == all or $type == size {
    width: rem(map-get($iconMap, width) + 1);
    height: rem(map-get($iconMap, height) + 1);
  }


  // Outputs the background position in rem.
  @if $type == all or $type == bg {
    background-position: rem(map-get($iconMap, x)) rem(map-get($iconMap, y));
  }


  // IE PNG fallback.
  #{$ieSprite} & {
    background-image: url(map-get($sprite, pngPath));
  }

}
